
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'LeeSeoyun';
}

p, b{
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

.container {
    width: 100%;
    height: 4000px;
}

.mov {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.mov video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.start-wrapper {
    width: 100%;
    height: 900px;
    margin-top: 220px;
    padding: 160px 0;
}

.start {
    width: 100%;
    max-width: 1080px;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.start-1 {
    width: 40%;
    float: left;
}

.babyimg {
    width: 100%;
}

.babyimg img {
    display: block;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.start-1 p:nth-child(2) {
    font-size: 26px;
    word-break: keep-all;
    line-height: 40px;
    font-weight: 600;
    color: #323232;
    margin: 0 auto 30px;
}

.start-1 p:nth-child(3) {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
}

.start-2 {
    width: 40%;
    float: right;
    margin: 180px 0 0 0;
}

.myimg img {
    display: block;
    width: 100%;
    position: relative;
}

.start-2 p:nth-child(2) {
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
    color: #6e3608;
    margin: 0 auto 30px;
}

.start-2 p:nth-child(3) {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #242424;
}

.product-text {
    margin-top: 110px;
    width: 950px;
    padding: 10px 0 10px 2px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 280px;
    background-color: #e0e0e0;
}

.product-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1080px;
    position: relative;
    margin: 100px auto;
    padding-left: 50px;
    box-sizing: border-box;
    gap: 20px;
}

.grid-item {
    background-color: #f2f1ea;
    border: 0.5px solid gray;
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-item img:hover {
    filter: brightness(50%);
    transition: all ease 0.5s;
}

.map-wrapper {
    width: 100%;
    height: 554px;
    margin-top: 220px;
    padding: 100px 0;
}

.map-t {
    width: 952px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    margin: 0 auto;
}

.map {
    width: 952px;
    margin: 0 auto;
}

.map-add {
    width: 900px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin: 0 auto;
}